.panel {
  text-align: center;
  padding: 4rem 1rem;
  color: #292929;
  background-color: #ffffff;
  line-height: 1.5;
  font-size: 1.125rem;
}

.panel p:last-child {
  margin: 0;
}

.dark {
  background-color: #292929;
  color: #ffffff;
}
