.field {
  margin: 0 0 1rem;
  text-align: left;
}

.label {
  display: inline-block;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #cacaca;
  border-radius: 3px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  transition: border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.input:focus {
  border-color: currentColor;
}

textarea.input {
  height: 5rem;
}

.error {
  color: #f44336;
  font-size: 0.75rem;
  font-weight: 700;
}

.alternative {
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  background-color: #fff;
}
