.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 1rem;
  color: #fff;
  font-weight: 600;
}

@media (min-width: 768px) {
  .topbar {
    padding: 1.75rem 2rem;
  }
}

.link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.link:hover,
.link:focus {
  color: rgba(255,255,255, 0.75);
}

.link svg {
  width: 24px;
  fill: #fff;
  transition: fill 0.2s;
}

.link:hover svg,
.link:focus svg {
  fill: rgba(255,255,255, 0.75);
}
