.imagePanel {
  padding: 4rem 0.5rem;
  max-width: 1300px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .imagePanel {
    padding: 8rem 1rem;
  }
}

.imagePanelScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.imagePanelScroll::-webkit-scrollbar {
  display: none;
}

.imagePanelScroll div {
  flex: 0 0 50%;
  padding: 0 0.5rem;
}

@media (min-width: 768px) {
  .imagePanelScroll div {
    flex: 0 0 33%;
    padding: 0 1rem;
  }
}
