.imagePanel {
  padding: 4rem 0.5rem 1rem;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  color: #292929;
  line-height: 1.5;
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .imagePanel {
    padding: 5rem 1rem 2.5rem;
  }
}

.divider {
  margin: 3rem;
}

@media (min-width: 768px) {
  .divider {
    margin: 4rem;
  }
}

.imagePanelScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.imagePanelScroll::-webkit-scrollbar {
  display: none;
}

.imagePanelScroll div {
  flex: 0 0 50%;
  padding: 0 0.5rem;
}

@media (min-width: 768px) {
  .imagePanelScroll div {
    flex: 0 0 33%;
    padding: 0 1rem;
  }
}

.subHeading {
  margin: 0 0 2rem;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  .subHeading {
    margin: 1.5rem auto 3rem;
  }
}
